h3 {
  color: rgb(208, 139, 93);
  font-style: italic;
  text-align: center;
}
h1,
h2 {
  color: lightsalmon;
  font-style: normal;
  text-align: center;
}
h4 {
  color: darkslategray;
}
.skill-header {
  text-align: left;
}
.skill-container {
  border: solid rgb(147, 114, 105);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 10px;
}
.skill-container1 {
  border: solid rgb(147, 114, 105);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 10px;
}
